<footer class="footer_area">
    <div class="footer_copyright_area">
        <div class="container">
            <div class="pull-left copyright_left">
                <h4>
                    © 2020 - All rights reserved
                    <a href="#">Tavilla Themes.</a> Support@memers.com
                </h4>
            </div>
            <div class="pull-right f_contact_widget">
                <ul class="f_widget_social">
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>