<footer class=" footer nav-custom">
    <div class="container  ">
        <span class="text-muted">
            <div class="d-flex justify-content-between">
                <ul class="list-group-inline" style="padding-inline-start: 0;">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-youtube fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                    </li>
                </ul>

                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="font-weight-bold">&copy; 2020 | All rights reserved | Support@memesith.com</p>
                <ul class="list-group-inline">
                    <li class="list-inline-item"><a href="/trendingmeme">Trending Meme</a></li>
                    <li class="list-inline-item"><a href="/jokes">Jokes+</a></li>
                    <li class="list-inline-item"><a href="/contact">Contact</a></li>
                    <li class="list-inline-item"><a target="_blank" href="/privacypolicy">Privacy Policy</a></li>
                    <li class="list-inline-item"><a target="_blank" href="/termofuse">Terms of Use</a></li>
                    <li class="list-inline-item"><a href="/">Sitemap</a></li>
                </ul>
            </div>
        </span>

    </div>
</footer>


{{!-- <div class="d-flex justify-content-between">
                <ul class="list-group-inline" style="padding-inline-start: 0;">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-youtube fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                    </li>
                </ul>

                <p class="float-right">
                    <a href="/">Back to top</a>
                </p>
            </div>
            <div class="d-flex justify-content-between">
                <p class="font-weight-bold">&copy; 2020 | All rights reserved | Support@memesith.com</p>
                <ul class="list-group-inline">
                    <li class="list-inline-item"><a href="/trendingmeme">Trending Meme</a></li>
                    <li class="list-inline-item"><a href="/jokes">Jokes+</a></li>
                    <li class="list-inline-item"><a target="_blank" href="/privacypolicy">Privacy Policy</a></li>
                    <li class="list-inline-item"><a target="_blank" href="/termofuse">Terms of Use</a></li>
                    <li class="list-inline-item"><a href="/">Sitemap</a></li>
                </ul>
            </div> --}}