{{!-- <footer class="footer_area">
    <div class="footer_copyright_area">
        <div class="container">
            <div class="pull-left copyright_left">
                <h4>
                    © 2020 - All rights reserved to
                    <a href="/">MemeSith</a> Support@memesith.com
                </h4>
            </div>
            <div class="pull-right f_contact_widget">
                <ul class="f_widget_social">
                    <li>
                        <a href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                                class="fab fa-facebook fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/r/WatchPeopleDieInside/" target="_blank"><i
                                class="fab fa-reddit fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/tamarafuentes_/" target="_blank"><i
                                class="fab fa-instagram fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-google-plus fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-pinterest fa-lg"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer> --}}

<footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="d-flex justify-content-between">
                <ul class="list-group-inline" style="padding-inline-start: 0;">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-youtube fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                    </li>
                </ul>

                <p class="float-right">
                    <a href="/">Back to top</a>
                </p>
            </div>
        </div>
        <div class="row">

            <div class="d-flex justify-content-between">
                <p class="font-weight-bold">&copy; 2020 | All rights reserved | Support@memesith.com</p>
                <ul class="list-group-inline">
                    <li class="list-inline-item"><a href="/trendingmeme">Trending Meme</a></li>
                    <li class="list-inline-item"><a href="/jokes">Jokes+</a></li>
                    <li class="list-inline-item"><a target="_blank" href="/privacypolicy">Privacy Policy</a></li>
                    <li class="list-inline-item"><a target="_blank" href="/termofuse">Terms of Use</a></li>
                    <li class="list-inline-item"><a href="/">Sitemap</a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>