<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s6">
                <h5 class="white-text">Links</h5>
                <ul>

                    <li><a class="white-text" href="/trendingmeme">Trending Meme</a></li>
                    <li><a class="white-text" href="/jokes">Jokes+</a></li>
                    <li><a class="white-text" href="/contact">Contact</a></li>
                    <li><a class="white-text" target="_blank" href="/privacypolicy">Privacy Policy</a></li>
                    <li><a class="white-text" target="_blank" href="/termofuse">Terms of Use</a></li>

                </ul>

                </ul>
            </div>
            <div class="col l3 s6 ">
                <h5 class="white-text">Connect </h5>
                <ul class="footer-ul-media">
                    <li><a class="white-text" href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                                class="fab fa-facebook-square fa-lg"></i> Facebook</a></li>
                    <li><a class="white-text" href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                                class="fab fa-instagram-square fa-lg"></i> Instagram</a></li>
                    <li><a class="white-text" href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                                class="fab fa-twitter-square fa-lg"> </i> Twitter</a></li>
                    <li><a class="white-text" href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                                class="fab fa-blogger -square fa-lg"> </i> Blogger</a></li>
                    <li><a class="white-text" href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                                class="fab fa-reddit-square fa-lg"> </i> Reddit</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Designed &amp; Developed By Coding Hippies <a class="orange-text text-lighten-3" href="/"></a>
            support@thefunfacts.club</a>
        </div>
    </div>
</footer>