<nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
        <i class="fas fa-bars"></i>
    </span>
    <a href="#" class="logo">OMGott</a>
    <span class="main">

        <ul class="test">
            <li>
                <a href="https://www.facebook.com/groups/176498139189986/" class=""><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/tamarafuentes_/" class=""><i class="fab fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/home" class=""><i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.reddit.com/r/WatchPeopleDieInside/" class=""><i class="fab fa-reddit"></i></a>
            </li>

            <li>
                <a href="https://telegram.org/" class=""><i class="fab fa-telegram"></i></a>
            </li>
        </ul>

    </span>

    <ul class="main-nav" id="js-menu">
        <li>
            <a href="/trendingmeme" class="nav-links">Trending Meme</a>
        </li>
        <li>
            <a href="/jokes" class="nav-links">Jokes+</a>
        </li>
        <li>
            <a href="/privacypolicy" class="nav-links">Privacy Policy</a>
        </li>
        <li>
            <a href="/termofuse" class="nav-links">Terms of Use</a>
        </li>

    </ul>





</nav>