<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container "><a id="logo-container" href="/" class="brand-logo hide-on-med-and-down"><img
                src="images/company_logo.png" alt="logo" /></a>

        <ul class="right hide-on-med-and-down">
            <li><a href="/trendingmeme">Trending Meme</a></li>
            <li><a href="/jokes">Jokes+</a></li>
            <li><a href="/horoscope">Horoscope</a></li>


        </ul>


        <ul id="nav-mobile" class="sidenav">
            <li><a href="/trendingmeme">Trending Meme</a></li>
            <li><a href="/jokes">Jokes+</a></li>
            <li><a href="/horoscope">Horoscope</a></li>

        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>


        <div class=" right hide-on-med-and-up">
            <ul id="nav-mobile">
                <li><a href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                            class="fab fa-facebook-square fa-lg"></i></a></li>
                <li><a href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                            class="fab fa-instagram-square fa-lg"></i></a></li>
                <li><a href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                            class="fab fa-twitter-square fa-lg"></i></a></li>
                <li><a href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                            class="fab fa-blogger -square fa-lg"></i></a></li>
                <li><a href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                            class="fab fa-reddit-square fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</nav>