<div class="header_top">
    <div class="container">
        <div class="pull-left logo_neno">
            <a href="/"><img src="images/company_logo.png" alt="logo" /></a>
        </div>
        <div class="pull-right header_language">

            <ul class="header_social">
                <li><a href="/trendingmeme">Trending Meme</a></li>
                <li><a href="/jokes">Jokes+</a></li>
                <li><a href="/privacypolicy">Privacy Policy</a></li>
                <li><a href="/termofuse">Terms &amp Conditions</a></li>
                <li>
                    <a href="https://www.facebook.com/groups/176498139189986/" target="_blank"><i
                            class="fab fa-facebook fa-lg"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                </li>
                <li>
                    <a href="https://www.reddit.com/r/WatchPeopleDieInside/" target="_blank"><i
                            class="fab fa-reddit fa-lg"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/tamarafuentes_/" target="_blank"><i
                            class="fab fa-instagram fa-lg"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-google-plus fa-lg"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-pinterest fa-lg"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>