<!DOCTYPE html>
<html lang="en">

<head>

  {{> header image='profile.png'}}

</head>

<body>
  <div class="wrapper">
    {{> nav}}

    {{{ body }}}

    {{> footer}}

    {{> scripts}}

  </div>



</body>

</html>