<!DOCTYPE html>
<html lang="en">

<head>

  {{> header image='profile.png'}}

</head>

<body>

  {{> nav}}

  <main role="main" class="container">

    {{{ body }}}

  </main>

  {{> footer}}

  {{> scripts}}





</body>

</html>