<div class="section">
    <div class="row">
        <div class="col s12 textdecorate">

            {{#isEqual message 'Email Sent'}}
            <h3 class="center">Thank you for contacting us</h3>
            <h4 class="center">We will contact you shortly !</h4>
            <h4 class="center">Best Wishes !</h4>

            {{else}}

            <h3 class="center">Sorry ! We didn't receive your mail</h3>
            <h4 class="center">Please check internet connection</h4>
            <h4 class="center">Best Wishes !</h4>

            {{/isEqual}}


        </div>
    </div>
</div>