{{!-- <div class="container h-100"> --}}
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
        <!-- Form -->

        <div class="text-center textdecorate">

            {{#isEqual message 'Email Sent'}}
            <h4>Thank you for contacting us</h4>
            <h3>We will contact you shortly !</h3>
            <h3>Best Wishes !</h3>

            {{else}}

            <h4>Sorry ! We didn't receive your mail</h4>
            <h3>Please check internet connection</h3>
            <h3>Best Wishes !</h3>

            {{/isEqual}}


            {{!-- <h3>{{message}}</h3> --}}

        </div>
    </div>
</div>