{{!-- <div class="container h-100"> --}}
<div class="row h-100 justify-content-center align-items-center">
  <div class="col-10 col-md-8 col-lg-6">
    <!-- Form -->
    <form class="form-example contactForm" role="form" action="" method="post">
      <h3 class="text-center"
        style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color:rgb(34, 65, 105)">
        CONTACT ||
        SUPPORT</h3>

      <!-- Input fields -->
      <div class="form-group">
        <label for="username"> Name </label>
        <input type="text" class="form-control username" id="username" placeholder="Enter your Name..." name="username">
      </div>
      <div class="form-group">
        <label for="email">Email </label>
        <input type="email" class="form-control email" id="email" placeholder="Email..." name="email" required>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="inputMessage" placeholder="How can we help you ? " name="message" rows="3"
          required></textarea>

      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-customized">Send Message</button>
      </div>
      <!-- End input fields -->

    </form>
    <!-- Form end -->
  </div>
</div>