<div class="section">
   <div class="row">
      {{!-- {{#each facts}} --}}
      <div class="col s12 m8">
         <div class="card">
            <div class="card-content teal">
               <p class="p-txt">{{facts.title}}</p>
            </div>
            <div class="card-image">
               <img src="{{facts.image_url}}">
            </div>
            <div class="card-content teal">
               <p class="p-txt">{{facts.description}}</p>
            </div>
            <div class="card-action">
               <a class="light-blue lighten-1 btn" href="/">Get Next Cool Facts</a>
            </div>
         </div>
      </div>

      <div class="col s12 m4">
         <div class="card">

            <p>An individual horoscope usually plots the moment of birth and is used by astrologers to analyze
               character, as well as—in conjunction with other astrological data—to predict the future. This is in
               accordance with the belief that each celestial body has its own mythological character, modified
               according to its geometric relationship with the other celestial bodies at a given moment. Everything in
               the universe being interrelated, these bodies exert an influence, particularly on the newborn. In casting
               a horoscope, the heavens are commonly represented by a circle divided into 12 intersections, called
               houses</p>
            <p>
               Each of these houses is assigned several departments of human life, such as wealth or marriage. The
               planet that falls within a particular house is said to influence matters pertaining to that house.
            </p>
         </div>
      </div>
      {{!-- {{/each}} --}}
   </div>
</div>