<section class="project_item_area">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <div class="project_item_inner">

               <div class="project_item_content">
                  <h3>Suspendisse Consectetur Magna</h3>
                  <img class="card_image" src="{{domain_url}}/images/img{{hello}}.jpg" alt="jokes">
                  <p>

                     Aliquam quis lobortis lorem, quis malesuada velit. Praesent
                     pharetra eget arcu et tempus. Ut diam lorem, porttitor at
                     imperdiet sit amet, pellentesque egestas lectus donec
                     condimentum.
                  </p>
                  <a class="read_more_btn" href="/">Next Laugh <i class="fa fa-angle-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="project_item_inner">
               <img src="img/project-item-2.jpg" alt="ads" />
               <div class="project_item_content">
                  <a href="#">
                     <h3>Suspendisse Consectetur Magna</h3>
                  </a>
                  <p>
                     Aliquam quis lobortis lorem, quis malesuada velit. Praesent
                     pharetra eget arcu et tempus. Ut diam lorem, porttitor at
                     imperdiet sit amet, pellentesque egestas lectus donec
                     condimentum.
                  </p>
                  <!-- <a class="read_more_btn" href="#">Read More <i class="fa fa-angle-right"></i></a> -->
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

{{!-- 
<div class="box">
       
                <ul>
                   <div>  
                        {{#each posts}}   
                           <h1>{{this.login}}</h1>
                        <li><img src={{this.avatar_url}} alt="" class="src"></li>         
                        {{/each}}
                   </div>  
                </ul>
                                        
                
              
       
</div>
        --}}