<div class="row">
   <div class="col-sm-8">
      <div class="card">
         <img class="card-img-top" style="height: 20rem;" src="{{facts.image_url}}" alt="Card image">
         <div class="card-body">
            <h5 class="card-title">{{facts.title}}</h5>
            <p class="card-text">{{facts.description}}</p>
            <a href="/" class="btn btn-primary">Next Laugh</a>
         </div>
      </div>
   </div>

   <div class="col-sm-4">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">AdBlock</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

         </div>
      </div>
   </div>
</div>