<div class="section">

   <div class="row">
      <div class="col s12 m8">
         <div class="card">
            <div class="card-content teal">
               <p class="p-txt">{{facts.title}}</p>
            </div>
            <div class="card-image">
               <img src="{{facts.image_url}}">
            </div>
            <div class="card-content teal">
               <p class="p-txt">{{facts.description}}</p>
            </div>
            <div class="card-action">
               <a class="light-blue lighten-1 btn" href="/">Get Next Cool Facts</a>
            </div>
         </div>
      </div>

      <div class="col s12 m4">
         <div class="card">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolorem commodi voluptatum iusto inventore!
               Quas modi maxime voluptates reiciendis dicta sequi fugit molestiae repellat exercitationem officia alias,
               voluptatem corporis voluptate molestias. Iure maiores expedita eum, quidem inventore veniam fuga alias
               culpa neque non sit porro nisi natus. Similique eveniet minima doloremque dolorum alias vel consequuntur
               aliquam facilis consequatur. Vero, impedit! Vero facilis quisquam, quod quidem ad doloribus, laborum enim
               quos labore deleniti ut optio amet eligendi aliquid non numquam perspiciatis? Incidunt molestiae
               blanditiis a mollitia repellat id tempora perspiciatis vero ducimus! Doloremque illum architecto totam
               porro accusamus accusantium itaque numquam.</p>
         </div>
      </div>

   </div>
</div>