<div class="box">
       
                <ul>
                   <div>  
                        {{#each posts}}   
                           <h1>{{this.login}}</h1>
                        <li><img src={{this.avatar_url}} alt="" class="src"></li>         
                        {{/each}}
                   </div>  
                </ul>
                                        
                
              
       
</div>
      