<div class="row">
    {{#each memes}}
    <div class="col-sm-4">

        <div class="card-group">

            <div class="card">
                <img class="card-img-top" src={{this.image_url}} alt=" jokes meme">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>