<div class="section">
    <div class="row">
        {{#each memes}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="{{{image this.preview}}}" alt="meme">
                    <span class="card-title">{{this.title}}</span>
                </div>
                <div class="card-content">
                    <p>{{truncateString this.selftext 60}}</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn" target="_blank" href="{{this.url}}">Read More</a>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>