#results {
	padding-top: 15px;
}

.navbar-light .navbar-nav .nav-link {
	color: #495057 !important;
}

body {
	background-color: #dce4ec !important;
	min-height: 100vh;
}
.bg-light {
	background-color: #dce4ec !important;
}
.navbar {
	padding: 5px 5px !important;
}
