body {
	background-color: #32cd32 !important;
}

.extra-padding {
	padding-right: 1rem;
}
.social-icons {
	/* padding-left: 5rem; */
}
#results {
	padding-top: 15px;
}
.nav-pad-left {
	/* padding-left: 2rem; */
}
