html {
	position: relative;
	min-height: 100%;
}

.navbar-light .navbar-nav .nav-link {
	color: #495057 !important;
}

body {
	background-color: #dce4ec !important;

	padding-bottom: 180px;
}
.nav-custom {
	background-color: #dce4ec !important;
	color: royalblue;
}

.navbar {
	padding: 5px 5px !important;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 170px;
	line-height: 40px; /* Vertically center the text there */
	background-color: #f5f5f5;
}

.form-example {
	padding: 20px 0;
	border: 1px solid #a365bc;
	box-shadow: 5px 5px #888888;
}
.form-example p.copyright {
	margin-top: 40px;
}
.form-example .form-group {
	text-align: left;
	padding: 0 10px;
}

.form-example input[type="text"],
.form-example input[type="email"],
.form-example textarea {
	background: whitesmoke;
	border: 1px solid #ddd;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #888;
	box-shadow: none;
}
.form-example input[type="text"]:focus,
.form-example input[type="email"]:focus,
.form-example textarea:focus {
	outline: 0;
	background: none;
	border: 1px solid #a365bc;
	box-shadow: none;
}

.form-example input[type="text"]::-moz-placeholder,
.form-example input[type="email"]::-moz-placeholder,
.form-example textarea::-moz-placeholder {
	color: #bbb;
	font-style: italic;
}

.form-example input[type="text"]:-ms-input-placeholder,
.form-example input[type="email"]:-ms-input-placeholder,
.form-example textarea:-ms-input-placeholder {
	color: #bbb;
	font-style: italic;
}

.form-example input[type="text"]::-webkit-input-placeholder,
.form-example input[type="email"]::-webkit-input-placeholder,
.form-example textarea::-webkit-input-placeholder {
	color: #bbb;
	font-style: italic;
}

.form-example button.btn-customized {
	margin-top: 1rem;
	padding: 0.75rem 1.5rem;
	background: #a365bc;
	border: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	box-shadow: none;
}

.form-example button.btn-customized:hover,
.form-example button.btn-customized:active,
.form-example button.btn-customized:focus,
.form-example button.btn-customized:active:focus,
.form-example button.btn-customized.active:focus,
.form-example button.btn.btn-primary:not(:disabled):not(.disabled):active,
.form-example
	button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #8542a0;
	border: 0;
	color: #fff;
	box-shadow: none;
}

.textdecorate {
	font-size: 3rem;
	font-weight: 400;
	color: rgb(150, 59, 59);
	font-family: cursive;
	padding-top: 50px;
}
